@img: '/public/assets';
.contentBox{
	position: relative; margin-top: 58px;  background: #fff; transition: 1s cubic-bezier(0.250, 0.100, 0.250, 1.000);
	ul{position: relative;}
	.layoutWrap{ margin:auto; width: 80%; padding-top: 40px;}
}
/* 通用样式 */
.notLogin{margin-top: 160+58px;}
