/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#F0EFEE;
    -moz-user-select:none;
}
/*---start-wrap----*/
.wrap{
	width:80%;
	margin:0 auto;
}
/*---start-header----*/

.logo{
	float:left;
}
.logo img{
	display:inline-block;
}
.nav-icon{
	float: left;
	margin: 0.6% 2% 0 8%;
	width: 4.55%;
}
.nav-icon a span{
	width:48px;
	height:34px;
	display:block;
	background:url(../images/nav-icon.png) no-repeat 0px 0px;
}

.box{
	position:absolute;
	top:-100px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background: rgba(240, 239, 238, 0.74);
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 1.9em;
	right: 15em;
 }
 #activator {
}
.menu_box_list{
	display:inline-block;
	padding: 2.1em 0;
}
.menu_box_list ul li {
	display: inline-block;
}
.menu_box_list li a{
	display: block;
	color: #363636;
	font-size: 0.875em;
	margin: 0.44em 2em;
	font-weight: 900;
	text-transform: uppercase;
	text-align: left;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.menu_box_list li a:hover{
	color:#B9CB41;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
/*--userinfo--*/
.userinfo{
	float: right;
	width: 15%;
	margin-top: 0.3em;
}
.user ul li{
	display:inline-block;
}
.user ul li a span{
	vertical-align: middle;
	margin-left: 0.8em;
	font-size: 1em;
}
.user ul li a{
	color:#8C8C8C;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.user ul li a:hover{
	color:#B9CB41;
}
.user ul li a img{
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	vertical-align:middle;

}
/*--//userinfo--*/
/*----start-post-grids----*/
.post-share span{
	background:url(../images/link_48px.png) no-repeat 0px 0px;
	background-size: cover;;
	height:26px;
	width:26px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.post-share span:hover{
	opacity: 0.8;
}
.rateit span{
	height:18px;
	width:76px;
	background:url(../images/start-rate.png) no-repeat 0px 0px;
	display:inline-block;
}
.rateit span:hover{
	background:url(../images/start-rateh.png) no-repeat 0px 0px;
}
.post-basic-info{
	padding: 7% 7% 5% 7%;
}
.post-basic-info p{
	word-break:break-all;
}
.post-basic-info h3 a{
	word-break:break-all;
	color: #717171;
	font-size: 1.2em;
	margin-bottom: 0.2em;
	display: block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info h3 a:hover{
	color:#B9CB41;
}
.post-basic-info span a{
	color:#ACAAAA;
	font-size:0.9em;
}
.post-basic-info span a label{
	height:12px;
	width:12px;
	display:inline-block;
	background:url(../images/map-pin.png) no-repeat 0px 0px;
	margin-right: 0.4em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info span a:hover{
	color:#B9CB41;
}
.post-basic-info p{
	font-size: 0.875em;
	color: #B7B5B5;
	margin: 0.6em 0;
	line-height: 1.5em;
}

.post-info-rate-share{
	border-top: 1px solid rgba(183, 181, 181, 0.36);
}
.rateit{
	float:left;
	margin: 0.18em 0 0 1em;
}
.post-share{
	float:right;
	margin-right:1.5em;
}

.share-artical ul li img{
	vertical-align: text-top;
	padding-right:7px;
}
.share-artical ul li a{
	font: 400 14px/22px  'Open Sans', sans-serif;
	color: #cbcbc3;
	padding-left: 20px;
	font-weight: 400;
}
.share-artical ul li a:hover{
	color:#B9CB41;
}
